[user]
	name = J. Stuart McMurray
	email = kd5pbo@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[alias]
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
